.top {
    margin-top: 30px;
}

.field.has-addons {
    display: inline-flex !important;
}

.height {
    margin-left: 25px;
}

.link {
    color: rgb(100, 100, 100) !important;
}
.link:hover {
    text-decoration: underline;
}